<!--ray was here created page-->
<div class="talentcontainer" ng-init="getMessages()">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h2 class="text-center">
                My Company Inbox
            </h2>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-2 column">
        <img alt="140x140" src="http://lorempixel.com/140/140/" />
        <div style="height : 10px"></div>
        <div>
            <a href="index.html#/companyprofile" class="btn btn-primary btn-block">Company Profile</a>
            <p></p><p></p>
            <a href="index.html#/companydashboard" class="btn btn-primary btn-block">Company Dashboard</a>
            <p></p><p></p>
            <a href="index.html#/companysettings" class="btn btn-primary btn-block">Company Settings</a>
        </div>
    </div>
    <div class="col-md-10 column">
        <form role="form">
            <div class="well well-sm align-">
                <h3>Messages</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Read Status</th>
                            <th>Subject</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="message in messageArray | orderBy: '-dateCreated' " style="list-style:none">
                            <td ng-if="!message.dateRead"><a href="#/companyinbox/{{message.messageId}}">Unread</a></td>
                            <td ng-if="message.dateRead"><a href="#/companyinbox/{{message.messageId}}">Read</a></td>
                            <td><a href="#/companyinbox/{{message.messageId}}">{{message.subject}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
