
<h1 style="text-align:center">FAQ</h1>
<div class="well">
    <h3>Are recruiters allowed on this site?</h3>
    <blockquote class="bg-primary">
        <p>No. We don't want recruiters to be able to post here because they take away from your income, the company's money, and complicate the process.</p>
    </blockquote><br />
    <h3>Do I have to pay anything to sign up?</h3>
    <blockquote class="bg-primary">
        <p>
            Jr Developers looking for Jobs don't have to pay a dime. We ask companies to pay a small fee per job to post, but this is significantly less
            than what they would pay a recruiter. This saves money for both parties and expedites the process.
        </p>
    </blockquote><br />
    <h3>Can I communicate with a developer/company if I want to get more information?</h3>
    <blockquote class="bg-primary">
        <p>Absolutely. Our messaging system allows developers and companies to have private communciations if they want to learn more about each other.</p>
    </blockquote><br />
    <h3>How can I get my password/username if I forgot it?</h3>
    <blockquote class="bg-primary">
        <p>You can click the forgot link on the login page and we will email you your information to the email account listed.</p>
    </blockquote><br />
    <h3>Will my resume be visible to companies?</h3>
    <blockquote class="bg-primary">
        <p>Yes. Companies can search resumes by keywords to find developers that match their needs.</p>
    </blockquote><br />
    <h3>Can I save jobs or searches for later reference?</h3>
    <blockquote class="bg-primary">
        <p>Certainly. There is a save function listed for companies and developers to save jobs they applied to, developer's profiles they viewed, etc.</p>
    </blockquote><br />
    <h4>For any other questions, please email us at support@jrdevs.com</h4>
</div>