<link href="../../Content/HomeCSS.css" rel="stylesheet" />

<div class="container" ng-controller="companyCtrl">
    <div class="row clearfix" align="center">
        <!--<div class="col-md-12 column">
            <img src="http://i.imgur.com/VGeRBYV.png" />
         </div>-->
        <div>
            <h1>WELCOME TO JRDEVS.CO</h1>
        </div>
    </div>
</div>
<hr />
<div class="col-md-12 column" id="bgimg">
    <!--<img class="img-responsive" src="../../Content/IMG/bkgrndeditd.png" />-->
</div>
<br />
<hr />
<div class="row clearfix">
    <div class="col-md-6 column">
        <h3>
            <span class="glyphicon glyphicon-user"></span> Add Your Resume
        </h3>
            <p>
                Looking for a Job? Add your resume and information and find some of the most awesome Jr to Mid Level Jobs out there!
            </p>
            <p>
                <a class="btn" href="#/talentcreate">Build your profile »</a>
            </p>
    </div>
    <div class="col-md-6 column">
        <h3>
            <span class="glyphicon glyphicon-briefcase"></span> Add Your Company
        </h3>
            <p class="text-justify">
                Looking for the best Developers around? Add your jobs and have our Devs apply directly for your Company! Don't wait for recruiters what we can help you do!
            </p>
        <p>
            <a class="btn" href="#/companycreate">Create your company profile »</a>
        </p>
    </div>
</div>