
<h1 style="text-align: center">About JRDevs.Co</h1>

    <!--<img class="col-md-4" src="http://nyocommercialobserver.files.wordpress.com/2013/11/boyland.jpg?w=150" />-->

<div class="container clearfix">
    <div class="col-sm-6">
        <div class="well" style="min-height: 233px">
            <div>
                <h2>To Developers:</h2>
                <ul>
                    <li>Quickly find jobs for jr developers</li>
                    <li>Easily apply online</li>
                    <li>Filter jobs by skills</li>
                    <li>Notification of new jobs in your area</li>
                    <li>Manage multiple resumes</li>
                </ul>
            </div>
        </div>
        </div>
        <!--<p>By the year 2020, there will be a shortage of over 1 million developers in the United States alone.
          This results in too many jobs unfilled and business needs unmet. JRDevs.Co is a job connection website to help companies and Jr Developers find mutual arrangements
                  without the hassle and expense of recruiters.</p>-->
    <div class="col-sm-6">
        <div class="well" style="min-height: 233px">
            <div>
                <h2>To Companies:</h2>
                <ul>
                    <li>No recruiters</li>
                    <li>Saves money on Jr. Developers</li>
                    <li>Direct contact with developers fills your positions faster</li>
                    <li>Manage onboarding processes with contact management</li>
                    <li>Budget targeting for job listings</li>
                    <li>Social media sharing to get the word out</li>
                </ul>
                <!--<p>Get started today and find a company or talent that will help you move forward!</p>-->
            </div>
        </div>
    </div>
</div>